<ion-content>
  <ion-header [class.media]="!isLoading && business">
    @if(!isLoading){
    <div class="header-image">
      <img
        [src]="business.featured_media_thumbnail?(business.featured_media_thumbnail | secureUrl):'assets/images/logo.png'"
      />
    </div>

    }
    <ion-toolbar>
      @if(!isLoading) {
      <ion-buttons slot="start">
        <div class="custom-btn back-btn">
          <ion-back-button
            defaultHref="/tabs/home"
            text=""
            icon="chevron-back"
          ></ion-back-button>
        </div>
      </ion-buttons>
      <ion-buttons slot="end">
        <div class="custom-btn menu-btn">
          <ion-button id="menu-trigger" fill="clear">
            <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
          </ion-button>
        </div>
        <ion-popover #popover trigger="menu-trigger" triggerAction="click">
          <ng-template>
            <ion-content>
              <ion-list>
                <ion-item (click)="toggleFavorite(popover)">
                  <ion-icon
                    slot="start"
                    color="primary"
                    class="material-icons"
                    data-icon="favorite"
                  ></ion-icon>
                  @if(isFavorite){
                  {{"BUSINESS_PROPERTY_DETAILS.RemovefromFavorites" |
                  translate}} }@else {
                  {{"BUSINESS_PROPERTY_DETAILS.AddtoFavorites" | translate}} }
                </ion-item>
                @if(mapURL){
                <ion-item (click)="openGoogleMaps()">
                  <ion-icon
                    slot="start"
                    color="primary"
                    class="material-icons"
                    data-icon="directions"
                  ></ion-icon>
                  {{"BUSINESS_PROPERTY_DETAILS.Directions" | translate}}
                </ion-item>
                }
                <ion-item (click)="share()">
                  <ion-icon
                    slot="start"
                    color="primary"
                    class="material-icons"
                    data-icon="share"
                  ></ion-icon>
                  {{"BUSINESS_PROPERTY_DETAILS.Share" | translate}}
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-buttons>

      }
    </ion-toolbar>
  </ion-header>

  <ion-modal
    class="full-view"
    [isOpen]="isFullViewOpen"
    (didDismiss)="dismissModal()"
  >
    <ng-template>
      <app-fullscreen-view
        [fullViewIndex]="galleryViewIndex"
        [images]="galleryImages"
      ></app-fullscreen-view>
    </ng-template>
  </ion-modal>

  @if(!isLoading){
  <div class="ion-padding">
    <div class="flex flex-col gap-[6px]">
      <h2 [innerHTML]="business.title.rendered" class="text-[black] title"></h2>
      <div class="flex items-center gap-[6px]">
        <ion-icon
          color="primary"
          class="material-icons"
          data-icon="pin_drop"
        ></ion-icon>
        <p class="text-[black]">
          @if(business['wpcf-buurt']){ {{ business["wpcf-buurt"] }}, }
          @if(business.district){ {{ business.district }} }
        </p>
      </div>
      @if(distance){
      <div class="flex items-center gap-[6px] ion-margin-top">
        <ion-icon
          color="primary"
          class="material-icons"
          data-icon="route"
        ></ion-icon>
        <p class="text-[black]">{{ distance }}</p>
      </div>

      }
    </div>
    <div class="ion-margin-top"></div>
    <ion-card class="price-card">
      @if(isRental){
      <div class="flex items-center justify-center flex-col gap-[10px]">
        @if(business['wpcf-huurprijs-pm-zp']){
        <ion-segment mode="ios" [(ngModel)]="selectedSegment">
          <ion-segment-button value="eur">
            <ion-label>EURO</ion-label>
          </ion-segment-button>
          <ion-segment-button value="usd">
            <ion-label>USD</ion-label>
          </ion-segment-button>
          <ion-segment-button value="srd">
            <ion-label>SRD</ion-label>
          </ion-segment-button>
        </ion-segment>
        <ion-text class="w-full" color="primary">
          <p class="rental-price">
            @if(business['wpcf-huurprijs-pm-zp']){ @if(selectedSegment==='eur'){
            {{business.eur}} }@else if(selectedSegment==='usd'){
            {{business.usd}} }@else { {{business.srd}} } /
            {{"BUSINESS_PROPERTY_DETAILS.Monthly" | translate}} }
          </p>
        </ion-text>
        }@else {
        <ion-text class="w-full" color="primary">
          <p class="rental-price">
            {{"BUSINESS_PROPERTY_DETAILS.PriceisNegotiable" | translate}}
          </p>
        </ion-text>

        }
      </div>
      }@else {
      <div class="flex flex-col gap-[10px] items-center justify-center">
        @if(business['wpcf-prijs-zonder-punten']){
        <ion-segment mode="ios" [(ngModel)]="selectedSegment">
          <ion-segment-button value="eur">
            <ion-label>EURO</ion-label>
          </ion-segment-button>
          <ion-segment-button value="usd">
            <ion-label>USD</ion-label>
          </ion-segment-button>
          <ion-segment-button value="srd">
            <ion-label>SRD</ion-label>
          </ion-segment-button>
        </ion-segment>
        <ion-button fill="outline" class="price-btn">
          @if(business['wpcf-prijs-zonder-punten']){
          @if(selectedSegment==='eur'){ {{business.eur }} }@else
          if(selectedSegment==='usd'){ {{business.usd}} }@else {
          {{business.srd}} } }
        </ion-button>
        }@else {
        <ion-button fill="outline" class="price-btn">
          {{"BUSINESS_PROPERTY_DETAILS.PriceisNegotiable" | translate}}
        </ion-button>
        }
      </div>
      }
      <div class="card-content">
        <h3 class="ion-margin-top">
          {{"BUSINESS_PROPERTY_DETAILS.Highlights" | translate}}
        </h3>
        <div class="info-btns flex items-center justify-between ion-margin-top">
          @if(business['wpcf-perceeloppervlakte']){
          <div class="flex items-center gap-[6px]">
            <ion-icon
              color="primary"
              class="material-icons-outlined"
              data-icon="zoom_out_map"
            ></ion-icon>
            <p class="text-[black]">
              {{ business["wpcf-perceeloppervlakte"] | dotToComma }} m²
              {{"BUSINESS_PROPERTY_DETAILS.Property" | translate}}
            </p>
          </div>

          } @if(business['wpcf-bouwoppervlakte']){
          <div class="flex items-center gap-[6px]">
            <ion-icon
              color="primary"
              class="material-icons-outlined"
              data-icon="filter_none"
            ></ion-icon>
            <p class="text-[black]">
              {{ business["wpcf-bouwoppervlakte"] | dotToComma }} m²
            </p>
          </div>
          }
        </div>
        <ion-grid class="ion-margin-top ion-no-padding">
          <ion-row>
            <ion-col size="6" class="ion-margin-top">
              <div class="flex items-center gap-[10px]">
                <p class="text-[black] font-[600]">
                  {{"BUSINESS_PROPERTY_DETAILS.Status" | translate}}:
                </p>
                <p>{{business.status}}</p>
              </div>
            </ion-col>
            @if(business['wpcf-etages']){
            <ion-col size="6" class="ion-margin-top">
              <div class="flex items-center gap-[10px]">
                <p class="text-[black] font-[600]">
                  {{"BUSINESS_PROPERTY_DETAILS.Floors" | translate}}:
                </p>
                <p>{{business['wpcf-etages']}}</p>
              </div>
            </ion-col>
            }

            <ion-col size="6" class="ion-margin-top">
              <div class="flex items-center gap-[10px]">
                <p class="text-[black] font-[600]">
                  {{"BUSINESS_PROPERTY_DETAILS.Type" | translate}}:
                </p>
                <p>{{business.type}}</p>
              </div>
            </ion-col>
            @if(business['wpcf-perceel-diepte']){
            <ion-col class="ion-margin-top" size="6">
              <div class="flex items-center gap-[10px]">
                <p class="text-[black] font-[600]">
                  {{"BUSINESS_PROPERTY_DETAILS.Depth" | translate}}:
                </p>
                <p>{{business['wpcf-perceel-diepte'] | dotToComma}} m²</p>
              </div>
            </ion-col>
            } @if(business['wpcf-kantoorruimte']){
            <ion-col class="ion-margin-top" size="6">
              <div class="flex items-center gap-[10px]">
                <p class="text-[black] font-[600]">
                  {{"BUSINESS_PROPERTY_DETAILS.OfficeSpace" | translate}}:
                </p>
                <p>{{business['wpcf-kantoorruimte'] | dotToComma}} m²</p>
              </div>
            </ion-col>
            } @if(business['wpcf-aantal-kantoorruimtes']){
            <ion-col class="ion-margin-top" size="6">
              <div class="flex items-center gap-[10px]">
                <p class="text-[black] font-[600]">
                  {{"BUSINESS_PROPERTY_DETAILS.Offices" | translate}}:
                </p>
                <p>{{business['wpcf-aantal-kantoorruimtes']}}</p>
              </div>
            </ion-col>
            } @if(business['wpcf-aantal-parkeerplaatsen']){
            <ion-col class="ion-margin-top" size="6">
              <div class="flex items-center gap-[10px]">
                <p class="text-[black] font-[600]">
                  {{"BUSINESS_PROPERTY_DETAILS.ParkingSpaces" | translate}}:
                </p>
                <p>{{business['wpcf-aantal-parkeerplaatsen']}}</p>
              </div>
            </ion-col>
            } @if(business['wpcf-frontbreedte-wegzijde']){
            <ion-col class="ion-margin-top" size="6">
              <div class="flex items-center gap-[10px]">
                <p class="text-[black] font-[600]">
                  {{"BUSINESS_PROPERTY_DETAILS.FrontWidth" | translate}}:
                </p>
                <p>
                  {{business['wpcf-frontbreedte-wegzijde'] | dotToComma}} m²
                </p>
              </div>
            </ion-col>
            } @if(business['wpcf-aantal-kamers']){
            <ion-col class="ion-margin-top" size="6">
              <div class="flex items-center gap-[10px]">
                <p class="text-[black] font-[600]">
                  {{"BUSINESS_PROPERTY_DETAILS.Baths" | translate}}:
                </p>
                <p>{{business['wpcf-aantal-kamers']}}</p>
              </div>
            </ion-col>
            } @if(business['wpcf-aantal-toiletten']){
            <ion-col class="ion-margin-top" size="6">
              <div class="flex items-center gap-[10px]">
                <p class="text-[black] font-[600]">
                  {{"BUSINESS_PROPERTY_DETAILS.Toilets" | translate}}:
                </p>
                <p>{{business['wpcf-aantal-toiletten']}}</p>
              </div>
            </ion-col>
            }
          </ion-row>
        </ion-grid>
        <div
          class="description flex items-center justify-between ion-margin-top"
        >
          <h3>{{"BUSINESS_PROPERTY_DETAILS.Description" | translate}}</h3>
          <ion-chip>{{business['wpcf-object-code']}}</ion-chip>
        </div>
        <div
          (click)="toggleContent()"
          class="ion-margin-top"
          [innerHTML]="displayedContent"
        ></div>
      </div>
    </ion-card>
    @if(business.gallery_thumbnails.length>0 ){
    <div class="ion-margin-top">
      <h3>{{"BUSINESS_PROPERTY_DETAILS.Gallery" | translate}}</h3>
    </div>
    <swiper-container
      (swiperslidechange)="updateGalleryViewIndex($event)"
      #slides
      init="false"
      class="custom-swiper ion-margin-top"
    >
      @for (gallery of business.gallery_thumbnails;track $index) {
      <swiper-slide (click)="openFullView()" class="custom-slide">
        <img [src]="gallery.thumbnail| secureUrl" />
      </swiper-slide>
      }
    </swiper-container>
    } @if(mapURL){
    <div class="ion-margin-top map-img">
      <h3>{{"BUSINESS_PROPERTY_DETAILS.FindonMap" | translate}}</h3>
      <img
        (click)="openGoogleMaps()"
        [src]="mapURL | secureUrl"
        alt="Location"
      />
    </div>
    } @if(business.broker){
    <div class="ion-margin-top">
      <ion-card class="broker">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-[10px]">
            <div [routerLink]="['/agents',business.broker.id]" class="avatar">
              <img [src]="business.broker.image | secureUrl" />
            </div>
            <div
              [routerLink]="['/agents',business.broker.id]"
              class="flex flex-col gap-[4px]"
            >
              <h3>{{business.broker.title}}</h3>
              <ion-text color="primary"
                ><p>
                  {{"BUSINESS_PROPERTY_DETAILS.Agent" | translate}}
                </p></ion-text
              >
            </div>
          </div>

          <div class="icons flex items-center gap-[6px]">
            <ion-icon
              (click)="openPhoneNumber(business.broker.tel,$event)"
              color="primary"
              class="material-icons"
              data-icon="phone_in_talk"
            ></ion-icon>

            <ion-icon
              (click)="openEmail(business.broker.email)"
              color="primary"
              class="material-icons"
              data-icon="near_me"
            ></ion-icon>
          </div>
        </div>
      </ion-card>
    </div>

    }@else {
    <div class="ion-margin-top">
      <ion-card class="broker">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-[10px]">
            <div class="avatar">
              <img src="assets/images/logo.png" />
            </div>
            <div class="flex flex-col gap-[4px]">
              <h3>{{"BUSINESS_PROPERTY_DETAILS.Contact" | translate}}</h3>
              <ion-text color="primary"><p>'' Makelaardij NV</p></ion-text>
            </div>
          </div>

          <div class="icons flex items-center gap-[6px]">
            <ion-icon
              (click)="openPhoneNumber('+597 422 644',$event)"
              color="primary"
              class="material-icons"
              data-icon="phone_in_talk"
            ></ion-icon>

            <ion-icon
              (click)="openEmail('info@''.com')"
              color="primary"
              class="material-icons"
              data-icon="near_me"
            ></ion-icon>
          </div>
        </div>
      </ion-card>
    </div>

    } @if(!isSimilarPropertiesLoading){
    <div class="ion-margin-top">
      <h3>{{"BUSINESS_PROPERTY_DETAILS.SimilarProperties" | translate}}</h3>
    </div>

    <div class="ion-margin-top ion-margin-bottom">
      <swiper-container
        slides-per-view="1.2"
        space-between="10"
        loop-additional-slides="4"
        watch-slide-progress="true"
        watch-visibility="true"
        class="homes-swiper"
      >
        @for (business of businessProperties; track business.id) {

        <swiper-slide class="homes-slide">
          <app-business-property-view
            [isRental]="isRental"
            [property]="business"
          ></app-business-property-view>
        </swiper-slide>

        }
      </swiper-container>
    </div>

    }
  </div>
  } @else {
  <div class="h-full flex flex-col items-center justify-center">
    <app-custom-spinner></app-custom-spinner>
  </div>

  }
</ion-content>
