
.spinner-container {
  position: relative;
  width: 60px;
  height: 60px;
}

.spinner-logo {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.spinner-border {
  width: 60px;
  height: 60px;
  border: 4px solid rgba(0, 0, 0, 0.1); /* light gray track */
  border-top: 4px solid #3880ff;        /* blue spinner color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
