<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>{{'TAB.Listings' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="listings" href="/tabs/listings">
      <ion-icon aria-hidden="true" name="clipboard"></ion-icon>
      <ion-label>{{'TAB.RecentListings' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorites" href="/tabs/favorites">
      <ion-icon aria-hidden="true" name="heart"></ion-icon>
      <ion-label>{{'TAB.Favorites' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="more" href="/tabs/more">
      <ion-icon aria-hidden="true" name="ellipsis-horizontal"></ion-icon>
      <ion-label>{{'TAB.More' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
