<ion-card
[class.grid-listing]="viewMode() === 'grid'"
class="listing-card" (click)="gotoDetails()">
  <img [src]="home().featured_media_thumbnail?(home().featured_media_thumbnail | secureUrl):'assets/images/logo.png'" loading="lazy" />
  <ion-card-header class="p-[0] px-[6px]">
    <div class="flex items-center">
      <h3 class="text-[black] title" [innerHTML]="home().title.rendered"></h3>
    </div>
  </ion-card-header>
  <ion-card-content class="mt-[10px] px-[6px]">
    <div class="flex items-center">
      <p class="text-[black] overflow-hidden whitespace-nowrap text-ellipsis">
        {{ home()["toolset-meta"]["details-vakantiewoning"].subtitel.raw }}
      </p>
    </div>
    <div
    [class.flex-col]="viewMode() === 'grid'"
    class="flex gap-[6px] ion-margin-top">
      @if(home()['toolset-meta']['huurprijs-vakantiewoning']['huurprijs-per-week'].raw){
      <ion-button shape="round">
        {{'HOLIDAY_HOME_VIEW.from'| translate}}
        @if(home().eurPerWeek){
          {{home().eurPerWeek}}
        }@else if(home().usdPerWeek){
          {{home().usdPerWeek}}
        }@else {
          {{home().srdPerWeek}}
        }
        {{'HOLIDAY_HOME_VIEW.per_week'| translate}}
      </ion-button>
      }@if(home()['toolset-meta']['huurprijs-vakantiewoning']['huurprijs-per-dag'].raw){

      <ion-button shape="round">
        {{'HOLIDAY_HOME_VIEW.from'| translate}}
        @if(home().eurPerDay){
          {{home().eurPerDay}}
        }@else if(home().usdPerDay){
          {{home().usdPerDay}}
        }@else {
          {{home().srdPerDay}}
        }
        {{'HOLIDAY_HOME_VIEW.per_day'| translate}}
      </ion-button>
      }
    </div>

    @if(home()['wpcf-buurt']|| home().district){
    <div
    (click)="$event.stopImmediatePropagation();openGoogleMaps()"
    class="flex items-center gap-[6px] ion-margin-top">
      <ion-icon
        color="primary"
        class="material-icons"
        data-icon="pin_drop"
      ></ion-icon>
      <p class="text-[black] overflow-hidden whitespace-nowrap text-ellipsis">
        @if(home()['wpcf-buurt']){
        {{ home()["wpcf-buurt"] }}, }@if(home().district){
        {{ home().district }}

        }
      </p>
    </div>

    }

    @if(distance){
      <div
      (click)="$event.stopImmediatePropagation();openGoogleMaps()"
      class="flex items-center gap-[6px] ion-margin-top">
        <ion-icon
          color="primary"
          class="material-icons"
          data-icon="route"
        ></ion-icon>
        <p class="text-[black]">{{ distance }}</p>
      </div>

      }

    <div class="info-btns ion-margin-top">
      <div class="flex items-center gap-[6px]">
        <ion-icon
          data-icon="meeting_room"
          color="primary"
          class="material-icons"
        ></ion-icon>
        <p class="text-[black]">{{ home()["wpcf-aantal-kamers"] }}        {{'HOLIDAY_HOME_VIEW.Rooms'| translate}}
          </p>
      </div>
      <div class="flex items-center gap-[6px]">
        <ion-icon
          color="primary"
          class="material-icons"
          data-icon="bed"
        ></ion-icon>
        <p class="text-[black]">{{ home()["wpcf-aantal-slaapkamers"] }}        {{'HOLIDAY_HOME_VIEW.Beds'| translate}}
          </p>
      </div>
      <div class="flex items-center gap-[6px]">
        <ion-icon
          color="primary"
          class="material-icons-outlined"
          data-icon="bathroom"
        ></ion-icon>
        <p class="text-[black]">{{ home()["wpcf-aantal-badkamers"] }}        {{'HOLIDAY_HOME_VIEW.Baths'| translate}}
          </p>
      </div>
    </div>
  </ion-card-content>
</ion-card>
