// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-color-primary: #26972d;
  --ion-color-primary-rgb: 38, 151, 45;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #218528;
  --ion-color-primary-tint: #3ca142;
  --swiper-pagination-color: var(--ion-color-primary);
  --bg-color: #fafbfa;
  --text-light: #979ca7;
  --text-light2: #babec6;
  --text-dark: #2b2c30;
  --border-line-color: #ebebeb;
}
