<ion-header>
  <ion-toolbar>
@if(!isLoading) {
      <ion-buttons slot="start">
        <ion-back-button
        defaultHref="/agents"
        text=""
        icon="chevron-back"
        >

        </ion-back-button>
      </ion-buttons>
      <ion-title>{{'AGENT.Agent' | translate}}</ion-title>
    }
  </ion-toolbar>
  @if(!isLoading){
    <div class="ion-padding">
      <ion-card class="broker">
        <div class="flex gap-[16px]">
            <img [src]="agent.image | secureUrl" />

            <div class="flex items-center justify-between">
              <div class="flex items-center gap-[10px]">
                <div class="flex flex-col gap-[10px]">
                  <h3>{{agent.title}}</h3>
                  <div
                  (click)="openPhoneNumber(agent.tel,$event)"
                  id="phone"
                  class="w-full flex items-center gap-[6px] icons">
                    <ion-icon
                      color="primary"
                      class="material-icons"
                      data-icon="phone_in_talk"
                    ></ion-icon>
                    <p>{{agent.tel}}</p>
                  </div>
                  <div class="w-full flex items-center gap-[6px] icons">
                    <ion-icon
                    (click)="openEmail(agent.email)"
                      color="primary"
                      class="material-icons"
                      data-icon="near_me"
                    ></ion-icon>
                    <p>{{agent.email}}</p>

                    </div>
                  </div>
        </div>
        </div>

        </div>

    </ion-card>
    <div class="outer ion-margin-top">
      @for (segment of segmentOptions; track $index) {
        <ion-chip
        (click)="onSelectSegment(segment)"
        [class.active]="selectedSegment.listType===segment.listType"
        >{{segment.title | translate}}</ion-chip>
      }
    </div>

    </div>

  }
</ion-header>
<ion-content class="ion-padding">
  @if(!isLoading){
@if(selectedSegment.listType===listTypeEnum.HOME){
  @if(isHomeLoading){
    <div class="h-full flex flex-col items-center justify-center">
      <app-custom-spinner></app-custom-spinner>

    </div>
  }@else {
    @for (home of homes; track $index) {
      <app-home-view
      [isRental]="false"
      [home]="home"
      ></app-home-view>
    }@empty {
      <div class="h-full flex flex-col items-center justify-center">
      <p>{{'AGENT.NoPropertiesToShow' | translate}}</p>
      </div>
    }
  }

}

@if(selectedSegment.listType===listTypeEnum.RENTALHOME){
  @if(isRentalHomeLoading){
    <div class="h-full flex flex-col items-center justify-center">
      <app-custom-spinner></app-custom-spinner>

    </div>
  }@else {
    @for (home of rentalHomes; track $index) {
      <app-home-view
      [isRental]="true"
      [home]="home"
      ></app-home-view>
    }@empty {
      <div class="h-full flex flex-col items-center justify-center">
      <p>{{'AGENT.NoPropertiesToShow' | translate}}</p>
      </div>
    }
  }
}

@else if(selectedSegment.listType===listTypeEnum.PLOT){
  @if(isPlotLoading){
    <div class="h-full flex flex-col items-center justify-center">
      <app-custom-spinner></app-custom-spinner>

    </div>

  }@else{
    @for (plot of plots; track $index) {
      <app-plot-view
      [plot]="plot"
      ></app-plot-view>
    }@empty {
      <div class="h-full flex flex-col items-center justify-center">
      <p>{{'AGENT.NoPlots' | translate}}</p>
      </div>
    }

  }
}

@else if(selectedSegment.listType===listTypeEnum.BUSINESSPROPERTY){
  @if(isBusinessLoading){
    <div class="h-full flex flex-col items-center justify-center">
      <app-custom-spinner></app-custom-spinner>

    </div>

  }@else{
    @for (property of businesses; track $index) {
      <app-business-property-view
      [isRental]="false"
      [property]="property"
      ></app-business-property-view>
    }@empty {
      <div class="h-full flex flex-col items-center justify-center">
     <p> {{'AGENT.NoBusinessProperties' | translate}}</p>
     </div>
    }

  }



}

@else if(selectedSegment.listType===listTypeEnum.RENTALBUSINESSPROPERTY){
  @if(isRentalBusinessLoading){
    <div class="h-full flex flex-col items-center justify-center">
      <app-custom-spinner></app-custom-spinner>

    </div>

  }@else{
    @for (property of rentalBusinesses; track $index) {
      <app-business-property-view
      [isRental]="true"
      [property]="property"
      ></app-business-property-view>
    }@empty {
      <div class="h-full flex flex-col items-center justify-center">
      <p> {{'AGENT.NoRentalBusinessProperties' | translate}}</p>
     </div>
    }
  }



}
@else {
  @if(isVacationRentalLoading){
    <div class="h-full flex flex-col items-center justify-center">
      <app-custom-spinner></app-custom-spinner>

    </div>
  }@else{
    @for (property of vacationHomes; track $index) {
      <app-holiday-home-view
      [home]="property"
      ></app-holiday-home-view>
    }@empty {
      <div class="h-full flex flex-col items-center justify-center">
        <p>{{'AGENT.NoVacationRentals' | translate}}</p>
      </div>
    }
  }

}


  }@else{
    <div class="h-full items-center justify-center flex flex-col">
      <app-custom-spinner></app-custom-spinner>
    </div>
  }
</ion-content>
