@if(!isForSaleByOwner()){
  <ion-header>
    <ion-toolbar>
      @if(!isLoading){
      <ion-buttons slot="start">
        @if(isModal){
        <ion-button (click)="dismiss()" fill="icon-only">
          <ion-icon name="chevron-back"></ion-icon>
        </ion-button>
        }@else {
        <ion-back-button
          defaultHref="/"
          text=""
          icon="chevron-back"
        ></ion-back-button>
        }
      </ion-buttons>
      <ion-title
        >@if(isRental){ {{'BUSINESS_PROPERTY_LISTING.BusinessPropertiesforRent' | translate}} }@else {
          {{'BUSINESS_PROPERTY_LISTING.BusinessPropertiesforSale' | translate}}

        }
      </ion-title>
      <ion-buttons slot="end">
        <ion-segment [(ngModel)]="viewMode" mode="ios">
          <ion-segment-button
          value="grid"
          class="toggle-btn"
          [class.active]="viewMode === 'grid'"
        >
          <ion-icon name="grid-outline"></ion-icon>
        </ion-segment-button>

          <ion-segment-button
            value="list"
            class="toggle-btn"
            [class.active]="viewMode === 'list'"
          >
            <ion-icon name="list-outline"></ion-icon>
          </ion-segment-button>

        </ion-segment>

        </ion-buttons>

      }
    </ion-toolbar>
  </ion-header>

}

@if(isForSaleByOwner()){
  @if(isLoading){
    <div class="h-full flex flex-col items-center justify-center">
      <app-custom-spinner></app-custom-spinner>
        </div>
  }@else {
    <ng-container [ngTemplateOutlet]="businessListing"></ng-container>
  }

}@else {
  <ion-content  [forceOverscroll]="true">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content
        pullingIcon="chevron-down-circle-outline"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing..."
      >
      </ion-refresher-content>
    </ion-refresher>

    <ng-container [ngTemplateOutlet]="businessListing"></ng-container>
  </ion-content>

}

<ng-template #businessListing>
  @if(!isLoading){
    @if(!isModal){
    <app-business-property-filter
    [businessTypes]="businessTypes"
    [preFilter]="appliedFilter"
    [constructionAreas]="constructionAreas"
    [plotAreas]="plotAreas"
    (onApplyFilter)="onApplyFilter($event)"
    (onResetFilter)="onResetFilter()"
    [districts]="districts"
    [isRental]="isRental"
    [landTitles]="landTitles"
    [pricings]="pricings"

    ></app-business-property-filter>
      }
      @if(viewMode === 'grid'){
        <ion-grid
        style="padding:0"
        class="ion-margin-top">
        <ion-row>
            @for (property of businessProperties; track property.id) {
              <ion-col size="6">
                <app-business-property-view
                [isRental]="isRental"
                [property]="property"
                [viewMode]="viewMode"
              ></app-business-property-view>
              </ion-col>
            }@empty {
              <div class="flex items-center justify-center mt-[32px]">
                <p class="text-center">{{'BUSINESS_PROPERTY_LISTING.Nobusinesspropertiestoshow' | translate}} </p>
              </div>
            }

        </ion-row>
        </ion-grid>
      }@else{
        <div class="flex flex-col gap-[10px] ion-padding">
          @for (property of businessProperties; track property.id) {
          <app-business-property-view
            [isRental]="isRental"
            [property]="property"
          ></app-business-property-view>
          }@empty {
            <div class="flex items-center justify-center mt-[32px]">
              <p class="text-center">{{'BUSINESS_PROPERTY_LISTING.Nobusinesspropertiestoshow' | translate}} </p>
            </div>
          }
        </div>

      }
      }@else if(isLoading && !isRefreshing){
        <div class="h-full flex flex-col items-center justify-center">
          <app-custom-spinner></app-custom-spinner>

        </div>

      }
      <ion-infinite-scroll
        [disabled]="isScrollDisabled"
        threshold="10px"
        position="bottom"
        (ionInfinite)="onIonInfinite($event)"
      >
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>

</ng-template>
